<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <meta http-equiv="Content-Security-Policy" content="default-src 'none'; connect-src 'self';font-src 'self'; img-src 'self' data: https:; style-src 'self' ; script-src 'self'"> --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&display=swap" rel="stylesheet">
    {{#if lightpage}}
    <link rel="stylesheet" href="/assets/css/stylelight.css">
    {{else}}
    <link rel="stylesheet" href="/assets/css/styledark.css">
    {{/if}}
    <title>ideafora</title>
</head>
<body>
    <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>
    {{#unless noNav}}
    <header>
        <a href="/" style="text-decoration: none;"><h1>ideafora</h1></a>
    </header>
    <nav class="navigate">
            <a href="/">-------home ->------</a>
            <a href="/faq">-------faqs ->------</a>
            <a href="/polite">---post an idea ->--</a>
            <a href="/find">---find an idea ->--</a>
            {{#if loggedIn}}
            {{!-- <a href="/user">----{{username}}->--</a> --}}
            <a href="/user">-------user ->------</a>
            {{else}}
            <a href="/login">------login ->------</a>
            {{/if}}
    </nav>
    {{/unless}}
    {{#if findidea}}
    {{> find}}
    {{/if}}

{{{body}}}

    <footer>
        rights group3productions {{date}}
    </footer>
</body>
</html>