{{!-- <header>
    <h1>ideafora</h1>
</header>
<nav class="navigate">
    <span class="navbutton"><button>--------home ->------</button></span>
    <span class="navbutton"><button>--------faqs ->------</button></span>
    <span class="navbutton"><button>---post an idea ->---</button></span>
    <span class="navbutton"><button>---find an idea ->---</button></span>
    <span class="navbutton"><button>------logout ->------</button></span>
</nav> --}}

{{!-- {{#if findanidea}} --}}

<nav class="findideas">
    <select id="offer-type" class="navselect"><button>----offer type ->----</button></span>
        <option value="null">-></option>
        <option value="free">-> free</option>
        <option value="paid">-> paid</option>
        <option value="negotiable">-> negotiable</option>
    </select>
    <select id="idea-type" class="navselect"><button>-----category ->-----</button></span>
        <option value="null">-></option>
        <option value="app">-> app</option>
        <option value="game">-> game</option>
        <option value="website">-> website</option>
        <option value="program">-> program</option>
        <option value="other">-> other</option>
    </select>
    <select id="coding-languages" class="navselect"><button>--coding language ->-</button></span>
        <option value="null">-></option>
        <option value="HTML">HTML</option>
        <option value="CSS">CSS</option>
        <option value="JAVASCRIPT">JAVASCRIPT</option>
        <option value="C#">C#</option>
        <option value="C++">C++</option>
        <option value="PHP">PHP</option>
        <option value="RUBY">RUBY</option>
        <option value="JAVA">JAVA</option>
        <option value="PYTHON">PYTHON</option>
        <option value="SHELL">SHELL</option>
        <option value="SWIFT">SWIFT</option>
        <option value="OBJECTIVEC">OBJECTIVE C</option>
        <option value="SCALA">SCALA</option>
        <option value="C">C</option>
        <option value="TYPESCRIPT">TYPESCRIPT</option>
    </select>
    <select id="orderby" class="navselect"><button>----view order ->----</button></span>
        <option value="mostlikes">-> most likes</option>
        <option value="mostrecent">-> most recent</option>
    </select>
    <span class="navbutton"><button>------- FIND ->------</button></span>
</nav>
{{!-- {{/if}} --}}


<div class="contain">
    {{#each ideas as |idea|}}
    <div class="contained">
        <article class="idea">
            <a id="idea-{{id}}" href="/idea/{{id}}" style="text-decoration: none"><h3>{{title}}</h3></a>
            <h6>{{created_at}}</h6>
            <h6>{{idea_type}}, {{offer_type}}, {{coding_languages}}, {{keywords}}</h6>
            <span>
                {{short_text}}
            </span>
            <h6><button>-> love it!</button>{{upvote.number}} people loved this</h6>
            <h6>{{comment.user.name}} commented: {{comment.text}} <a id="comment-{{id}}" class="to-comments" href="/idea/{{id}}" style="text-decoration: none">see more comments -></a></h6>
            <span>-----</span>
        </article>
    </div>
    {{/each}}
</div>
{{!-- navigation script and ideas script --}}

<script src="/assets/js/ideas.js"></script>