<header>
    <h1>ideafora</h1>
</header>
<nav class="navigate">
    <span class="navbutton"><button name="home" class="home">--------home ->------</button></span>
    <span class="navbutton"><button name="faqs" class="faqs">--------faqs ->------</button></span>
    <span class="navbutton"><button name="post" class="post">---post an idea ->---</button></span>
    <span class="navbutton"><button name="find" class="find">---find an idea ->---</button></span>
    <span class="navbutton"><button name="logout" class="logout">------logout ->------</button></span>
</nav>

{{#if findidea}}
{{> find}}
{{/if}}

<div class="contain">
    {{#each ideas as |idea|}}
    <div class="contained">
        <article class="idea">
            <h3>{{title}}</h3>
            <h6>{{date}}</h6>
            <h6>{{idea-type}}, {{offer-type}}, {{coding_languages}}, {{keywords}}</h6>
            <span>
                {{short_text}}
            </span>
            <h6><button>-> love it!</button>{{upvote.number}} people loved this</h6>
            <h6>{{comment.user.username}} commented: {{comment}} <button>see more comments -></button></h6>
            <span>-----</span>
        </article>
    </div>
    {{/each}}
</div>
<script src="/assets/js/navigation.js"></script>
{{!-- navigation script and ideas script --}}