<div class="pagebody">
    <div class="pagecontent">
        <button id="logout">Logout -></button>
        {{#if newmessages.length}}
        <div class="intro">You have New Messages, {{user.name}}!</div>
        {{#each newmessage}}
        <div>
            <h3>Message from {{user.conversation.user.name}}:</h3>
            <h6 class="codertexttime">{{user.conversation.created_at}}</h6>
            <span class="codertext">{{user.conversation.coderText}}</span>
            <div class="intro">
                <button id="reply">Reply -></button>
            </div>
        </div>
        {{/each}}
        {{/if}}

        {{#if oldmessages.length}}
            <div class="intro">You have New Messages!</div>
            {{#each oldmessage}}
            <div>
                <h3>Message from {{user.conversation.user.name}}:</h3>
                <h6 class="inventortexttime">{{user.conversation.created_at}}</h6>
                <span class="inventortext">{{user.conversation.coderText}}</span>
                {{!-- <span class="">{{user.conversation.inventorText}}</span> --}}
                <div class="intro">
                    <button id="reply">Reply -></button>
                </div>
            </div>
            {{/each}}
        {{/if}}

        <h3>About {{user.name}}:</h3>

        {{#if user.image}}
            <img width="100px" src="{{user.image}}" />
        {{/if}}
        {{#if user.aboutme}}
            <h5>{{user.aboutme}}</h5>
        {{/if}}
        <a href="userprofile">Update User profile</a>

        {{#if user.ideas.length}}
        <h6>
            You have {{user.ideas.length}} previous ideas.
            <a href="/find/{{user.id}}">see previous posts-></a>
        </h6>
        {{/if}}
    </div>
</div>

<script src="/assets/js/logout.js"></script>