<div class="pagebody">
    <div class="pagecontent">
        <a href="/logout">Logout -></a>
        {{#if newmessages.length}}
        <div class="intro">You have New Messages!</div>
        {{#each newmessage}}
        <div>
            <h3>Message from {{user}}:</h3>
            <h6>{{createdAt}}</h6>
            <span>{{text}}</span>
            <div class="intro">
                <button id="reply">Reply -></button>
            </div>
        </div>
        {{/each}}
        {{/if}}

        {{#if oldmessages.length}}
        <div class="intro">You have New Messages!</div>
        {{#each newmessage}}
        <div>
            <h3>Message from {{user}}:</h3>
            <h6>{{createdAt}}</h6>
            <span>{{text}}</span>
            <div class="intro">
                <button id="reply">Reply -></button>
            </div>
        </div>
        {{/each}}
        {{/if}}

        <h3>About {{user}}:</h3>
        {{#if user.image}}
        {{user.image}}
        {{/if}}
        {{#if user.aboutme}}
        {{user.aboutme}}
        {{/if}}
        <a href="userprofile">Update User profile</a>
        {{#if posts.length}}
        You have {{posts.length}} previous ideas.
        <a href="/find/{{user.id}}">see previous posts-></a>
    </div>
</div>